<div class="panel panel-primary indicator-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Strings</h3>
    </div>
    <div class="indicator-content">

        {% if info.domains %}
        <h4>Domains</h4>
        <table class="table table-striped table-bordered" style="table-layout: fixed;">
            {% include "codexgigas/_hits.html" with entries=info.domains total=total %}
        </table>
        {% endif %}
        {% if info.hidden_dlls %}
        <h4>Hidden DLLs</h4>
        <table class="table table-striped table-bordered" style="table-layout: fixed;">
            {% include "codexgigas/_hits.html" with entries=info.hidden_dlls total=total %}
        </table>
        {% endif %}
        {% if info.hidden_imports %}
        <h4>Hidden Imports</h4>
        <table class="table table-striped table-bordered" style="table-layout: fixed;">
            {% include "codexgigas/_hits.html" with entries=info.hidden_imports total=total %}
        </table>
        {% endif %}
        {% if info.interesting %}
        <h4>Interesting</h4>
        <table class="table table-striped table-bordered" style="table-layout: fixed;">
            {% include "codexgigas/_hits.html" with entries=info.interesting total=total %}
        </table>
        {% endif %}
        {% if info.ips %}
        <h4>IPs</h4>
        <table class="table table-striped table-bordered" style="table-layout: fixed;">
            {% include "codexgigas/_hits.html" with entries=info.ips total=total %}
        </table>
        {% endif %}
        {% if info.raw_strings %}
        <h4>Raw Strings</h4>
        <table class="table table-striped table-bordered" style="table-layout: fixed;">
            {% include "codexgigas/_hits.html" with entries=info.raw_strings total=total %}
        </table>
        {% endif %}
    </div>
</div>
